# Market Basket Analysis for Product Recommendation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_excel('C:\TD\SEM 4\online_retail_II.xlsx')

In [3]:
dataset

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [4]:
dataset.shape

(525461, 8)

In [5]:
dataset = dataset.dropna()

In [6]:
dataset.shape

(417534, 8)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417534 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      417534 non-null  object
 1   StockCode    417534 non-null  object
 2   Description  417534 non-null  object
 3   Quantity     417534 non-null  int64
 4   InvoiceDate  417534 non-null  datetime64[ns]
 5   Price        417534 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      417534 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 28.7+ MB

In [8]:
dataset.describe()

            Quantity          Price    Customer ID
count  417534.000000  417534.000000  417534.000000
mean       12.758815       3.887547   15360.645478
std       101.220424      71.131797    1680.811316
min     -9360.000000       0.000000   12346.000000
25%         2.000000       1.250000   13983.000000
50%         4.000000       1.950000   15311.000000
75%        12.000000       3.750000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [ ]:
dataset_positive = dataset[dataset['Quantity']>=0]
dataset_positive.info()

In [ ]:
dataset_positive.describe()

In [ ]:
top_10countries = dataset_positive.groupby('Country').nunique().sort_values('Invoice', ascending=False).head(10)
top_10countries

In [ ]:
basket_positive = (dataset_positive[dataset_positive['Country'] =="United Kingdom"].groupby(['Invoice', 'Description'])['Quantity']
               .sum().unstack().reset_index().fillna(0).set_index('Invoice'))
basket_positive

In [ ]:
def encode(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    
basket_encode_positive = basket_positive.applymap(encode)
basket_encode_positive

In [ ]:
basket_filter_positive = basket_encode_positive[(basket_encode_positive > 0).sum(axis=1) >= 2]
basket_filter_positive

In [ ]:
pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori

In [ ]:
frequent_itemsets_positive = apriori(basket_filter_positive, min_support=0.03, 
                                 use_colnames=True).sort_values('support', ascending=False).reset_index(drop=True)

frequent_itemsets_positive['length'] = frequent_itemsets_positive['itemsets'].apply(lambda x: len(x))

frequent_itemsets_positive

In [ ]:
frequent_itemsets_positive[ (frequent_itemsets_positive['length']  == 2) &
                        (frequent_itemsets_positive['support'] >= 0.03) ][ (frequent_itemsets_positive['length']  == 2) &
                        (frequent_itemsets_positive['support'] >= 0.03) ][ (frequent_itemsets_positive['length']  == 2) &
                        (frequent_itemsets_positive['support'] >= 0.03) ]

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
association_rules(frequent_itemsets_positive, metric='lift', 
                  min_threshold=1).sort_values('lift', ascending=False).reset_index(drop=True)